main {
  display: grid;
  place-content: center;
  width: 100vw;
}

.content-container, .main-container, .left-container, .top-container, .bottom-container {
  display: flex;
}

.content-container {
 align-items: center;
 justify-content: space-between;
 width: 100%;
}

.left-container {
  align-items: center;
}

.main-container {
  width: 100vw;
  max-width: 1440px;
}

.logo {
  width: fit-content;
  height: fit-content;
}

.filter-container {
  display: flex;
  justify-content: space-between;
}

.filters {
  display: flex;
}

.filter {
  display: flex;
}

