:root {
  --desaturated-dark-cyan: hsl(180, 29%, 50%);
  --light-grayish-cyan-background: hsl(180, 52%, 96%);
  --light-grayish-cyan-filter-tablets: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'League Spartan', sans-serif;
}

body {
  font-size: 15px;
}

main {
  display: grid;
  place-content: center;
  max-width: 100vw;
  background-color: var(--light-grayish-cyan-background);
  gap: 1.5em;
  padding-top: 5em;
}

.content-container,
.main-container,
.left-container,
.top-container,
.bottom-container {
  display: flex;
}

.main-container {
  max-width: 100vw;
  max-width: 1440px;
}

.content-container {
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  padding: 2em 2.5em;

  box-shadow: 0.5em 0.75em 1em 0px hsla(180, 29%, 50%, 25%);
}

.top-container {
  display: flex;
}

.left-container {
  gap: 1.5em;
}

.bottom-container {
  align-items: center;
}

.info-container {
  display: grid;
  justify-content: space-between;
}

.logo {
  width: fit-content;
  height: fit-content;
}

header {
  background-color: var(--desaturated-dark-cyan);

  height: 150px;
  max-width: 100vw;

  background-image: url("images/bg-header-desktop.svg");

  background-size:cover;
  background-repeat: no-repeat;

  display: grid;
  place-content: center;

}

.filter-container {
  display: flex;
  justify-content: space-between;

  background-color: white;

  border-radius: 5px;

  padding: 1.5em 2.53em;

  width: 100vw;
  
  max-width: 1440px;


  position: relative;

  top: 5em;
}

.filters {
  display: flex;
}

.filter {
  display: flex;
  margin-right: 1em;
}

.filter-text {
  background-color: var(--light-grayish-cyan-filter-tablets);
  padding: 0.5em;
  color: var(--desaturated-dark-cyan);
  border-radius: 5px 0 0 5px;

  font-weight: bold;
}

.filter-x {
  padding: 0 .4em .1em;

  font-size: 22px;

  font-weight: bold;

  border-radius: 0 5px 5px 0;

  background-color: var(--desaturated-dark-cyan);
  color: white;

  border: none;
}

.filter-x:hover {
  background-color: var(--very-dark-grayish-cyan);
  cursor: pointer;
}

.filter-clear-button {
  border: none;
  background: none;
  text-decoration: underline;
  color: var(--desaturated-dark-cyan);
  font-weight: bold;
}

.filter-clear-button:hover {
  cursor: pointer;
}

.edge {
  width: 0.4em;
  border-radius: 10px 0 0 10px;
}

.featured-edge {
  background-color: var(--desaturated-dark-cyan);
}

/* //////////////////////////////////////
////////////////////////////////////// */

h2 {
  color: var(--very-dark-grayish-cyan);
  font-size: 1.25em;
}

h2:hover {
  color: var(--desaturated-dark-cyan);
  cursor: pointer;

  

}

h3 {
  color: var(--desaturated-dark-cyan);
  margin-right: 0.5em;
}

.job-details {
  color: var(--dark-grayish-cyan);
  font-weight: bold;
}

.dot {
  width: 4px;
  height: 4px;

  background-color: var(--dark-grayish-cyan);

  border-radius: 50%;

  margin: 0 1em;
}

.new {
  font-size: 0.8em;
  color: white;

  background-color: var(--desaturated-dark-cyan);

  border-radius: 30px;

  display: grid;
  place-content: center;
  width: 3.75em;
  height: 2em;

  margin: 0 0.25em;

  font-weight: bold;
}

.featured {
  font-size: 0.8em;
  font-weight: bold;
  color: white;

  background-color: var(--very-dark-grayish-cyan);

  border-radius: 30px;

  display: grid;
  place-items: center;
  width: 6.75em;
  height: 2em;

  margin: 0 0.25em;
}

.filter-button {
  background-color: var(--light-grayish-cyan-filter-tablets);
  color: var(--desaturated-dark-cyan);
  padding: 0.5em;
  border: none;

  margin-left: 1em;

  font-weight: bold;
}

.filter-button:hover {
  color: white;
  background-color: var(--desaturated-dark-cyan);
  cursor: pointer;
}
